body {
    background-color: blueviolet;
    font-family: "Open Sans", sans-serif; 
    font-size: 25px;
    color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    width: 163px;
    height:407px;
    border-radius: 20px; 
    padding: 20px;

    margin:auto;
}
.card-title {
    margin-top: 20px;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 130px;


}
